<div class="main-page-slogan-container">
    <div class="main-page-slogan">{{{i18n.main_page.slogan}}}</div>
    <div class="main-page-slogan-links">
        <a class="main-page-catalog-link" href="{{catalogLink}}">{{i18n.panel.top.catalog}}</a>
        <a class="main-page-contacts-link" href="{{contactsLink}}">{{i18n.panel.top.contacts}}</a>
        <a class="main-page-delivery-link" href="{{deliveryLink}}">{{i18n.panel.top.delivery}}</a>
    </div>
</div>