@linkHeight: 40px;

@media (max-width: 700px) {
  .pagination-bar {
    width: 100%;
    .pagination {
      &-item {
        height: @linkHeight;
        line-height: @linkHeight;
        margin: 0;
        border-radius: 0;
        .text {
          display: none;
        }
        &:first-child {
          border-radius: 2px 0 0 2px;
        }
        &:last-child {
          border-radius: 0 2px 2px 0;
        }
      }

      &-link {
        &-dots {
          background-color: #17A086;
          color: #ffffff;
          padding: 0;
        }
        &-previous,
        &-next {
          height: @linkHeight;
          .arrow {
            height: @linkHeight;
            width: @linkHeight;
          }
        }
      }
    }
  }
}
