RewriteEngine On
<IfModule mod_rewrite.c>

    RewriteRule ^.htaccess$ - [F]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?$1 [QSA,L]

    RewriteEngine on
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

</IfModule>
<IfModule mod_headers.c>
    # One month for css and js
    <filesMatch ".(jpg|jpeg|png|gif|ico|css|js)$">
    Header set Cache-Control "max-age=2628000, public"
    </filesMatch>
</IfModule>