RewriteEngine On
<IfModule mod_rewrite.c>

    RewriteRule ^.htaccess$ - [F]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} ^(?!\/(api|admin)(\/)?).*
    RewriteRule ^(.*)$ controller.php?$1 [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} ^\/api\/.*
    RewriteRule ^api\/(.*)$ controller-api.php?method=$1 [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} ^\/admin(\/)?.*
    RewriteCond %{HTTPS} on
    RewriteRule ^admin(\/)?(.*)$ controller-admin.php?page=$2 [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} ^\/admin(\/)?.*
    RewriteCond %{HTTPS} off
    RewriteRule ^admin(\/)?(.*)$ controller-admin.php?page=redirect [QSA,L]

</IfModule>