.dropbox {
  &-data-view {
    .dhx_dataview_default_item {
      box-shadow: none;
    }
    .dhx_dataview_item {
      padding: 10px;
      border: 1px solid #ffffff !important;
    }
    .dhx_dataview_item.dhx_dataview_default_item_selected {
      background: none;
      position: relative;
    }
  }
  &-item {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #f9f9f9;
    box-shadow: 0 0 1px #c5c5c5 inset;

    &-img {
      max-height: 128px;
      display: block;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      &-container {
        position: relative;
        overflow: hidden;
        width: 150px;
        height: 148px;
      }
    }

    &-container {
      height: 100px;
    }

    &-text-container {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 52px;
      width: 100%;
    }
    &-size,
    &-name {
      margin: 0 10px;
      word-break: break-all;
      text-align: center;
    }
    &-size {
      color: #6f6f6f;
      font-weight: bold;
    }
  }
}

.dhx_dataview_default_item_selected {
  border-color: none;
  .dropbox-item {
    box-shadow: 0 0 0px 2px #39c inset;
  }
}

.dropbox-image-side-preview-container {
  .dhx_cell_cont_layout {
    overflow: auto;
  }
}
#dropbox-image-side-preview {
  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}