.single_item {


  .image-gallery-position-label {
    position: absolute;
    bottom: 0;
    margin: 0 20px 10px 0;
    z-index: 10;
    width: ~'calc(100% - 20px)';
    text-align: right;
    font-family: BebasNeueBold;
    color: #525252;
    font-size: 1.5em;
  }
  .left_block {
    width: 420px;
    z-index: 1;
    overflow: hidden;
    float: left;
    position: relative;
    .squareX {
      width: 420px;
      height: 700px;
      position: relative;
      float: left;
      background: #FFF;
      z-index: 30;
    }

    .gallery_left_arrow,
    .gallery_right_arrow {
      width: 100px;
      height: 100%;
      z-index: 40;
      position: absolute;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      .icon {
        border-radius: 50%;
        background-color: #fff;
        width: 3em;
        height: 3em;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
        position: relative;
        top: 40%;
        cursor: pointer;
        display: none;
        svg {
          margin: 9px;
        }
      }

    }

    .squareX {
      &:hover {
        .gallery_left_arrow,
        .gallery_right_arrow {
          .icon {
            opacity: 0.5;
            display: block;
          }
        }
      }
      .gallery_left_arrow,
      .gallery_right_arrow {
        &:hover {
          .icon {
            opacity: 1;
            display: block;
          }
        }
      }
    }

    .gallery_left_arrow {
      top: 0;
      left: 0;
      .icon {
        margin-left: 20px;
      }
    }

    .gallery_right_arrow {
      top: 0;
      right: 0;
      .icon {
        margin-left: 30px;
      }
    }

  }



}

#img_effect {
  position: absolute;
  width: 420px;
  height: 700px;
  z-index: 1;
  vertical-align: middle;
}

#main_gallery_image {
  position: absolute;
  width: 420px;
  height: 700px;
  opacity: 1;
  vertical-align: middle;
}

#gallery {
  overflow: hidden;
  .viewport {
    clear: left;
    overflow: hidden;
  }
}

#zoom_switcher {
  margin: 22px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  z-index: 40;
  opacity: 0.5;
  .icon {
    border-radius: 50%;
    background-color: #fff;
    width: 48px;
    height: 48px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
    svg {
      margin: 6px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &:hover {
    opacity: 1;
  }
}

.single_item {




}
