<div class="news-gallery-container">
    <div class="news-gallery-list-container">
        <div ng-repeat="newsItem in newsGalleryCtrl.news"
             ng-switch="newsItem.type"
             class="news-gallery-item"
             ng-class="{'selected': newsItem.isSelected}">
            <div ng-switch-when="raw" ng-bind-html="newsGalleryCtrl.getSecureContent(newsItem)"></div>
            <div ng-switch-when="video"
                 class="news-gallery-item-video"
                 ng-bind-html="newsGalleryCtrl.getSecureContent(newsItem)"></div>
            <div ng-switch-when="image">
                <img src="{{newsItem.content}}">
            </div>
        </div>
    </div>
    <div class="news-gallery-selector-container">
        <div ng-repeat="newsItem in newsGalleryCtrl.news"
                class="news-gallery-selector-button"
                ng-class="{'selected': newsItem.isSelected}"
                ng-click="newsGalleryCtrl.select(newsItem)">
            <div class="news-gallery-selector-button-background"></div>
        </div>
    </div>
</div>