<div class="product-path">
    {{#path}}
        <a class="product-path-link" href="{{link}}">{{value}}</a>
        {{#nextItemArrow}}
            <span>></span>
        {{/nextItemArrow}}
    {{/path}}
</div>