<div class="categories">
    {{#categories}}
        <a href="{{& link}}" class="categories-item">
            <img alt="{{value}}"
                 class="categories-item-image categories-item-placeholder" rel="preload" src="/images/placeholder.png">
            <img alt="{{value}}"
                 class="categories-item-image" data-src="{{image}}" alt="{{value}}"/>
            <span class="categories-item-link">
                <span class="">{{value}}</span>
            </span>
        </a>
    {{/categories}}
</div>