<div class="categories">
    {{#categories}}
        <a href="{{& link}}" class="categories-item">
            <span class="categories-item-link">
                <span class="">{{value}}</span>
            </span>
            <img class="categories-item-image" data-src="{{image}}"/>
        </a>
    {{/categories}}
</div>