<a class="catalog_good_item previews-zero-col " href="{{link}}">
    <div itemscope="">
        <div class="simple_item_metro ciic cursor_pointer ">
            <img class="simple_item_image catalog-product-placeholder"
                 alt="{{title}}"
                 rel="preload" src="/images/placeholder.png">
            <img class="simple_item_image " rel="preload"
                 itemprop="image" onclick="openSimpleImg(arguments[0])"
                 data-src="{{imageSrc}}"
                 alt="{{title}}">
        </div>
        <div class="blackout_container "></div>
        <div class="note" itemprop="name">{{{titleHtml}}}</div>
        <div class="catalog_item_button f-17 input_hover ">{{i18n.product.more_info}}</div>
    </div>
</a>