@media (max-width: 1000px) {
  .top-panel-logo-image {
    display: none;
  }
  .top-panel-logo {
    height: 50px;
    width: ~'calc(100% - 50px - 50px)';
    &-image-sm {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: auto;
    }
  }
}

@media (max-width: 400px) {
  .top-panel-logo-image-sm {
    width: 100%;
  }
}